<!-- <p>{{ name }}</p> -->
<!-- <label> Start Server</label>
<input type="text" class="form-control" (input) = "onUpdateServer($event)" >
<input type="text" class="form-control" [(ngModel)] = "serverName" >
<p> {{ serverName }} </p>
<button class="btn btn-primary" [disabled] = "!isDisbaled" (click) = "onCreateServer()">Submit</button>
<p>{{ serverStatus }}</p> -->


<!-- <p> {{ name }}</p>
<label>Start Server</label>
<input type="text" class="form-control" (input) = "onUpdateServer($event)">
<input type="text" class="form-control"  [(ngModel)] = "serverName"><p>{{ serverName }}</p>
<button class="btn btn-primary" [disabled] = "!isDisabled" (click) = "onCreateServer()"> Submit </button>
<p>{{ serverStatus }}</p> -->



<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Welcome to Udemy course...!!!</h1>

            <label> Username :</label>
            <input type="text" class="form-control" [(ngModel)] = "userName">
            <p> {{ userName }} </p>
          
        </div>
    </div>
</div>